* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #fff; }

.side-bar {
  display: flex;
  flex-direction: column;
  flex: 0 0 15%;
  border-right: 1px solid #3C3C3C; }
  .side-bar__header {
    display: flex;
    align-items: center; }
  .side-bar__logo {
    width: 4.8rem;
    height: 5.2rem;
    margin-right: 1rem; }
  .side-bar__title {
    font-family: 'Clash Display';
    font-size: 2.8rem;
    font-weight: 600; }
  .side-bar__upper {
    border-bottom: 1px solid #3C3C3C;
    padding: 3rem 1.5rem; }
  .side-bar__nav {
    list-style: none;
    margin: 3.75rem 0; }
  .side-bar__item {
    color: #7C7C7C;
    font-size: 1.6rem;
    font-weight: 500;
    padding: .5rem 1rem;
    border-radius: .4rem; }
    .side-bar__item:not(:last-child) {
      margin-bottom: 2rem; }
  .side-bar__item:hover {
    background-color: #1900D5;
    color: #fff;
    cursor: pointer; }
    .side-bar__item:hover .side-bar__icon {
      filter: none; }
  .side-bar__link {
    display: flex;
    align-items: center; }
  .side-bar__icon {
    height: 2.5rem;
    width: 2.5rem;
    margin-right: .75rem;
    filter: invert(47%) sepia(4%) saturate(16%) hue-rotate(124deg) brightness(103%) contrast(89%); }
  .side-bar__lower {
    list-style: none;
    padding: 2rem; }

.header {
  display: flex;
  align-items: center;
  height: 7rem;
  padding: 5rem 3rem;
  border-bottom: 1px solid #3C3C3C; }
  .header__icon-box {
    position: relative;
    margin: 0 2rem; }
  .header__icon-box:hover {
    cursor: pointer; }
    .header__icon-box:hover .header__icon {
      filter: none; }
  .header__icon {
    height: 3.2rem;
    width: 3.2rem;
    filter: invert(47%) sepia(4%) saturate(16%) hue-rotate(124deg) brightness(103%) contrast(89%); }
  .header__notification {
    position: absolute;
    z-index: 10;
    top: .05rem;
    right: .65rem;
    width: .8rem;
    height: .8rem;
    background-color: #FF0000;
    border-radius: 10rem; }
  .header__separator {
    width: .2rem;
    height: 3.5rem;
    margin: 0 2.5rem 0 1.5rem;
    background-color: #232323; }

.user-info {
  display: flex;
  flex-direction: column;
  margin-right: auto; }
  .user-info__name {
    font-size: 2rem;
    font-weight: 700;
    margin-left: .1rem; }
  .user-info__date {
    font-size: 1.4rem;
    font-weight: 500;
    color: #7C7C7C; }

.search {
  display: flex;
  align-items: center;
  background-color: #232323;
  font-size: 2rem;
  color: #fff;
  padding: 1rem 1.5rem;
  border-radius: .75rem;
  flex: 0 0 32%; }
  .search__icon {
    margin-right: 1rem; }
  .search__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: inherit;
    border: none; }
    .search__input:focus {
      outline: none; }
    .search__input::-webkit-input-placeholder {
      color: #fff; }

.main-dashboard {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 2rem;
  background-color: #000; }
  .main-dashboard__top {
    display: flex; }

.dashboard-tile {
  background-color: #232323; }

.small-tile {
  display: flex;
  justify-content: space-between;
  flex: .5;
  padding: 2rem 1.5rem;
  border-radius: 1rem;
  margin-bottom: 2rem; }
  .small-tile:not(:last-child) {
    margin-right: 2rem; }
  .small-tile__header {
    display: flex;
    flex-direction: column; }
  .small-tile__title {
    font-size: 2rem;
    font-weight: 500;
    padding-bottom: 3.5rem;
    margin-bottom: auto;
    line-height: 1.4; }
  .small-tile__revenue {
    font-size: 2.8rem;
    font-weight: 700;
    margin-left: .2rem; }
  .small-tile__summary-box {
    display: flex;
    align-items: center; }
  .small-tile__percent-box {
    display: flex;
    align-items: center;
    border-radius: .35rem;
    padding: .35rem .75rem;
    font-size: 1.2rem;
    margin-right: 1.25rem; }
    .small-tile__percent-box.gain {
      background-color: #A9FFA7;
      color: #037400; }
    .small-tile__percent-box.loss {
      background-color: #FFA7A7;
      color: #740000; }
  .small-tile__percent-img {
    margin-right: .5rem; }
    .small-tile__percent-img.loss {
      transform: scaleY(-1); }
  .small-tile__percent {
    color: inherit; }
  .small-tile__cost {
    font-size: 1.4rem;
    color: #7C7C7C; }
  .small-tile__graph-img {
    margin-top: auto; }

.large-tile {
  padding: 2rem 1.5rem;
  border-radius: 1rem;
  margin-bottom: 2rem; }

.revenue-order__top {
  display: flex;
  align-items: center;
  padding-bottom: 1.5rem; }

.revenue-order__title {
  margin-right: auto;
  font-size: 2rem;
  font-weight: 500; }

.revenue-order__legend-box {
  display: flex;
  align-items: center; }

.revenue-order__legend-circle {
  width: 1rem;
  height: 1rem;
  border-radius: 10rem;
  margin-right: .75rem; }
  .revenue-order__legend-circle.red {
    background-color: #E8502F; }
  .revenue-order__legend-circle.green {
    background-color: #C1EF00; }

.revenue-order__legend-text {
  font-size: 1.4rem;
  color: #7C7C7C; }
  .revenue-order__legend-text:not(:last-child) {
    margin-right: 2.25rem; }

.revenue-order__chart {
  width: 100%;
  height: auto; }

.recent-invoice__top {
  display: flex;
  margin-bottom: 1.75rem; }

.recent-invoice__title {
  font-size: 1.6rem;
  font-weight: 500;
  margin-right: auto; }

.recent-invoice__filter-box {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: .5rem 1rem;
  border-radius: .75rem; }

.recent-invoice__filter-text {
  font-size: 1.2rem;
  color: #000;
  margin-right: .75rem; }

.recent-invoice__table {
  border-collapse: collapse;
  text-align: start;
  font-size: 1.4rem;
  column-rule-color: #fff;
  font-weight: 500;
  width: 100%; }

.recent-invoice__table-body {
  width: 100%; }

.recent-invoice__table-header {
  font-size: 1.4rem;
  color: #7C7C7C;
  width: 100%;
  text-align: start; }
  .recent-invoice__table-header th {
    text-align: start !important;
    font-weight: 500 !important;
    padding: .5rem 0;
    border-bottom: 1px solid #3C3C3C; }

.recent-invoice__table-row {
  width: 100%; }
  .recent-invoice__table-row td {
    padding: 2.25rem 0 .75rem 0;
    border-bottom: 1px solid #3C3C3C; }

.recent-invoice__paid-circle {
  display: inline-flex;
  width: 1rem;
  height: 1rem;
  border-radius: 10rem;
  margin-right: .15rem; }
  .recent-invoice__paid-circle.green {
    background-color: #4D9A00; }
  .recent-invoice__paid-circle.yellow {
    background-color: #F0D411; }

.side-dashboard {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 2rem;
  padding-left: 0;
  background-color: #000; }

.sales {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  border-radius: 1rem;
  margin-bottom: 2rem; }
  .sales__title {
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: .5rem; }
  .sales__pie-chart {
    margin-bottom: 1rem; }
  .sales__legend-box {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    width: 100%; }
  .sales__list-item {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    color: #7C7C7C;
    flex: 0 0 50%;
    padding-left: 4rem;
    margin-bottom: .75rem; }
  .sales__circle {
    width: .8rem;
    height: .8rem;
    border-radius: 1rem;
    margin-right: .5rem; }
    .sales__circle.purple {
      background-color: #1900D5; }
    .sales__circle.blue {
      background-color: #8400D5; }
    .sales__circle.orange {
      background-color: #FF6D28; }
    .sales__circle.white {
      background-color: #fff; }
    .sales__circle.grey {
      background-color: #425F57; }

.top-products {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 1rem; }
  .top-products__title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: .75rem; }
  .top-products__search-bar {
    display: flex;
    font-size: 1.4rem;
    background-color: #0F0E0E;
    border-radius: .75rem;
    padding: 1rem 1.5rem;
    margin-bottom: 2rem;
    width: 100%; }
  .top-products__search-icon {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem; }
  .top-products__search-input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: inherit;
    border: none;
    margin-right: auto;
    max-width: 0; }
    .top-products__search-input:focus {
      outline: none; }
    .top-products__search-input::-webkit-input-placeholder {
      color: #fff; }
  .top-products__search-btn {
    font-family: inherit;
    font-size: 1.5rem;
    color: inherit;
    background-color: inherit;
    border: none;
    padding: 0 1rem;
    margin-right: 1.5rem;
    cursor: pointer; }
  .top-products__products-box {
    list-style: none;
    display: flex;
    flex-direction: column; }
  .top-products__item {
    display: flex; }
    .top-products__item:not(:last-child) {
      padding-bottom: 1rem;
      margin-bottom: 1.75rem;
      border-bottom: 1px solid #3C3C3C; }
  .top-products__item-img {
    margin-right: 1.25rem; }
  .top-products__item-box {
    display: flex;
    flex-direction: column;
    padding: .5rem .25rem; }
  .top-products__item-name {
    font-size: 1.4rem;
    margin-bottom: .5rem; }
  .top-products__item-info-box {
    display: flex;
    align-items: center;
    width: 15rem; }
  .top-products__item-gender {
    font-size: 1.4rem;
    color: #7C7C7C;
    margin-right: auto; }
  .top-products__separator {
    width: .09rem;
    height: 1.5rem;
    margin-right: 1.5rem;
    background-color: #7C7C7C; }
  .top-products__percent-box {
    display: flex;
    align-items: center;
    border-radius: .35rem;
    padding: .35rem .75rem;
    font-size: 1.2rem; }
    .top-products__percent-box.gain {
      background-color: #A9FFA7;
      color: #037400; }
    .top-products__percent-box.loss {
      background-color: #FFA7A7;
      color: #740000; }
  .top-products__percent-img {
    margin-right: .5rem; }
    .top-products__percent-img.loss {
      transform: scaleY(-1); }
  .top-products__percent {
    color: inherit; }

.container {
  max-width: 151.2rem;
  margin: 8rem auto;
  display: flex;
  background-color: #000; }

.content {
  display: flex;
  flex-direction: column;
  flex: 1 0; }

.dashboard-view {
  display: flex;
  flex: 1 0; }
